<extends src="layout.html">
  <block name="content">
    <div class="content">
      <header>
        <div class="container">
          <include src="includes/logos.html"></include>
        </div>
      </header>
      <div id="app-nav">
        <p><b style="color: #D9472A">Applications for games closed April 27.</b></p>
        <p>Applications for tech zines and food vendors close on May 13.</p>
        <p> <a href="#games-and-zines">Tech Zines</a> ▼ <a href="#food">Food/Beverage Vendors</a> </p>
      </div>
      <div id="sections" class="content" role="main">
        <section id="games-and-zines">
          <div class="header-container">
            <div class="container">
              <h2>Apply to table with your tech zine(s)</h2>
            </div>
          </div>
          <div class="container">
            <div class="Grid Grid--gutters Grid--full large-Grid--fit">
              <div class="Grid-cell Grid-cell--top">
                <ul class="application-info">
                  <li><strong>What we're looking for from tech zine folks:</strong><br><span class="highlight">Tech–themed self-published zines and/or fanzines</span> about internet infrastructure, love, surveillance, gentrification, dance, futurism, accessibility, games, race, food, geometry, indigineity, instagram, earth – anything about technology that you are thinking about on paper.</li>

                  <li>No application fee / no table fee.</li>
                  <li>The venue is air-conditioned and barrier-free; there are shared all-gender washrooms and private, wheelchair-accessible washrooms on the same floor.</li>
                  <li>High-speed wi-fi is available.</li>
                  <li>Individuals, collectives, companies and indie publishers welcome.</li>
                  <li>You’ll get half a 6-foot table and 2 chairs. If you need more/different space, we'll chat once selections are made.</li>
                  <li>Works in progress are very welcome.</li>
                  <!-- <li><strong>What we're looking for from games exhibitors:</strong> Video games, board games, card games, tabletop games, artist collectives, small weird interactive installations and VR experiences are all welcome. <span class="highlight">We're looking for something playable <b>plus</b> something physical or tactile to sell or trade (companion zine, print, pins and patches, etc.).</span></li> -->
                </ul>
                <img src="img/44643043451_714bc557e5_z.jpg" alt="">
              </div>
              <div class="Grid-cell Grid-cell--top">
                <form name='exhibitor-application-summer-2019' action='/thank-you' data-netlify="true" method='POST' accept-charset="utf-8">
                  <input type='hidden' name='form-name' value='exhibitor-application-summer-2019' />
                  <div class="form-radio" style="display:none">
                    <div class="radio">
                      <label>
                        <input type="radio" name="category" value="comics" checked="checked"><i class="helper"></i>Tech zine
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="email" required="required" name="email" autocorrect="off" autocapitalize="off">
                    <label class="control-label" for="input">Your Email</label><i class="bar"></i>
                  </div>
                  <div class="Grid Grid--gutters">
                    <div class="Grid-cell">
                      <div class="form-group">
                        <input type="text" required="required" name="first_name">
                        <label class="control-label" for="input">Your First Name</label><i class="bar"></i>
                      </div>
                    </div>
                    <div class="Grid-cell">
                      <div class="form-group">
                        <input type="text" required="required" name="last_name">
                        <label class="control-label" for="input">Your Last Name</label><i class="bar"></i>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" required="required" name="project_name">
                    <label class="control-label" for="input">Zine title(s)</label><i class="bar"></i>
                  </div>
                  <div class="form-group">
                    <input type="text" required="required" name="company_name">
                    <label class="control-label" for="input">Creator/collective's name</label><i class="bar"></i>
                  </div>
                  <fieldset>
                    <div class="form-group">
                      <input type="text" required="required" name="link">
                      <label class="control-label" for="input">Link</label><i class="bar"></i>
                      <small>Include examples of your work at this URL.</small>
                    </div>
                    <div class="form-group">
                      <textarea required="required" name="project_description"></textarea>
                      <label class="control-label" for="textarea">Short description</label><i class="bar"></i>
                    </div>
                    <!-- <div class="form-group">
                      <textarea required="required" name="offer"></textarea>
                      <label class="control-label" for="textarea">What are you selling?</label><i class="bar"></i>
                    </div> -->
                  </fieldset>
                  <div class="form-group">
                    <textarea required="required" name="accessibility"></textarea>
                    <label class="control-label" for="textarea">How can we help you feel welcome in this space? <small>How can we ensure it is accessible for you?</small></label><i class="bar"></i>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="all_ages_content"><i class="helper"></i>Content is appropriate for all ages
                    </label>
                  </div>
                  <div class="form-group">
                    <textarea name="content_warning"></textarea>
                    <label class="control-label" for="textarea">If not, describe:</label><i class="bar"></i>
                  </div>
                  <p> By submitting this application, you agree to abide by the <a href="https://policies.tomediaarts.org/procedure-manual/policies/coc" target="_blank">TMAC Code of Conduct</a>.</p>
                  <div class="button-container">
                    <button class="button"><span>Submit</span></button>
                  </div>
                  <p class="hidden"><input name="bot-field"></p>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section id="food">
          <div class="header-container">
            <div class="container">
              <h2>Apply to be a Food/Beverage Vendor</h2>
            </div>
          </div>
          <div class="container">
            <div class="Grid Grid--gutters Grid--full large-Grid--fit">
              <div class="Grid-cell Grid-cell--top">
                <ul class="application-info">
                  <li><strong>What we're looking for:</strong> Street food, fried food, baked goods, sweet treats, handheld snacks, beer and non-alcoholic deliciousness!</li>
                  <li>Applications close May 13.</li>
                  <li>No application fee / no table fee.</li>
                  <li>The venue is air-conditioned and barrier-free.</li>
                  <li>High-speed wi-fi is available.</li>
                </ul>
                <img src="/img/jen-snack.jpg" alt="">
              </div>
              <div class="Grid-cell Grid-cell--top">
                <form name='food-application-summer-2019' action='/thank-you' method='POST' data-netlify="true" accept-charset="utf-8">
                  <input type='hidden' name='form-name' value='food-application-summer-2019' />
                  <div class="form-group">
                    <input type="email" required="required" name="email" autocorrect="off" autocapitalize="off">
                    <label class="control-label" for="input">Your Email</label><i class="bar"></i>
                  </div>
                  <div class="Grid Grid--gutters">
                    <div class="Grid-cell">
                      <div class="form-group">
                        <input type="text" required="required" name="first_name">
                        <label class="control-label" for="input">Your First Name</label><i class="bar"></i>
                      </div>
                    </div>
                    <div class="Grid-cell">
                      <div class="form-group">
                        <input type="text" required="required" name="last_name">
                        <label class="control-label" for="input">Your Last Name</label><i class="bar"></i>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" required="required" name="company_name">
                    <label class="control-label" for="input">Company Name</label><i class="bar"></i>
                  </div>
                  <div class="form-group">
                    <textarea required="required" name="project_description"></textarea>
                    <label class="control-label" for="textarea">Company bio (short and sweet!)</label><i class="bar"></i>
                  </div>
                  <fieldset>
                    <div class="form-group">
                      <textarea required="required" name="offer"></textarea>
                      <label class="control-label" for="textarea">Proposed menu</label><i class="bar"></i>
                    </div>
                    <div class="form-group">
                      <textarea required="required" name="requirements"></textarea>
                      <label class="control-label" for="textarea">Booth requirements</label><i class="bar"></i>
                      <small>What equipment will you bring and what power/water/refrigeration requirements do you have? How much table/counter space do you need?</small>
                    </div>
                  </fieldset>
                  <p> By submitting this application, you agree to abide by the <a href="https://policies.tomediaarts.org/procedure-manual/policies/coc" target="_blank">TMAC Code of Conduct</a>.</p>
                  <div class="button-container">
                    <button class="button"><span>Submit</span></button>
                  </div>
                  <p class="hidden"><input name="bot-field"></p>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </block>
</extends>