<extends src="layout.html">
  <block name="content">
    <div class="info">
      <div class="container">
        <p>June 22, 2019&nbsp;•&nbsp;<a href="https://www.tomediaarts.org" target="_blank">TMAC</a></p>
      </div>
    </div>
    <div class="content">
      <header>
        <div class="container">
          <div class="logos">
            <div class="columnar">
              <span class="row">
                <span class="games">🎮 video game flea market</span>
              </span>
              <span class="row">
                <span class="zines">📚 zine fair</span>
              </span>
              <span class="row">
                <i class="fas fa-plus" style="color: #207DFC"></i>
                <span class="snack">🌮 snack fest</span>
              </span>
            </div>
            <img src="img/bit_bazaar_logo__blue.png" alt="Bit Bazaar Logo" width="200">
            <!-- <p class="lead">Back for #10!</p> -->
            <div class="schedule">
              <div class="friday date">
                <h3 class="day">Saturday, June 22, 2019</h3>
                <p class="time">12-7pm</p>
              </div>
            </div>
            <div class="intro-text">
              <div class="bb">
                <p>Bit Bazaar is a free one-day fair showcasing Toronto's indie game designers, comic artists, zine-makers, illustrators and delicious food &amp; beverages by members of our community. Meet the makers, hand them money, swap a zine – or just make some cool new friends!</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="sections" class="content" role="main">
        <section id="action">
          <p>
            <a href="/apply" class="button">Apply to Table</a>
          </p>
        </section>
      </div>
    </div>
  </block>
</extends>
