<extends src="layout.html">
  <block name="content">
    <div class="content">
      <header>
        <div class="container">

          <include src="includes/logos.html"></include>
          
          <div class="columnar">
            <span class="row">
              <span class="games">🎮 indie game arcade</span>
            </span>
            <span class="row">
              <span class="zines">📚 tech zine fair</span>
            </span>
            <span class="row">
              <i class="fas fa-plus" style="color: #207DFC"></i>
              <span class="snack">🌮 snack fest</span>
            </span>
          </div>
          <!-- <img src="img/bit_bazaar_logo__blue.png" alt="Bit Bazaar Logo" width="200"> -->


          <!-- <p class="lead">Back for #10!</p> -->
          <div class="schedule">
            <div class="friday date">
              <h3>
                <span class="day">
                  Saturday
                </span>
                <span class="date">
                  June 22
                </span>
                <span class="year">
                  2019
                </span>
              </h3>
              <p class="time">12-7pm</p>
            </div>
          </div>
          <div id="sections" class="content" role="main">
            <section id="action">
              <p>
                <a href="/apply" class="button">Apply to Table</a>
              </p>
            </section>
          </div>
          <div class="intro-text">
            <div class="bb">
              <div class="text">
                <p><b>Bit Bazaar</b> is a free one-day fair showcasing Toronto's indie game designers, comic artists, zine-makers and DIY creators – with tasty snacks &amp; sips by members of our community.</p>
                <p>Meet the makers, hand them money, swap a zine – or just make some cool new friends!</p>

              </div>
              <div class="images">
                <img src="/img/photo.jpg" alt="">
              </div>
            </div>

            <div class="ttz">

              <p><b>Toronto Tech Zines</b> (TTZ) is a unique gathering space for everyone from artists to coders and illustrators to activists— anyone who wants to think about technology on paper.</p>
                <p>TTZ is a place for zines about internet infrastructure, love, surveillance, gentrification, dance, futurism, accessibility, games, race, food, geometry, indigineity, instagram, earth, and more.</p>

            </div>
          </div>
        </div>
      </header>

    </div>
  </block>
</extends>
