<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bit Bazaar Summer 2019</title>
  <meta name="description" content>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@TheBitBazaar">
  <meta name="twitter:creator" content="@TheBitBazaar">
  <meta property="og:url" content="https://2019.bitbazaar.world">
  <meta property="og:title" content="Bit Bazaar">
  <meta property="og:image" content="https://2019.bitbazaar.world/img/44643043451_714bc557e5_z.jpg">
  <meta name="description" content="A unique showcase of indie games, comics and zines presented by Gamma Space">
  <meta name="keywords" content="bit bazaar, videogames, zine fair, toronto, videogames">
  <meta name="author" content>
  <title>Bit Bazaar: A unique celebration of the art and craft of videogames, in the tradition of zine fairs.</title>
  <meta property="og:description" content="Bit Bazaar: A unique celebration of the art and craft of videogames in the tradition of zine fairs.">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <main>
    <block name="content">

    </block>

  </main>

  <block name='javascript'></block>
  <script src='js/main.js' defer></script>

</body>
</html>