<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bit Bazaar Summer 2019</title>
  <meta name="description" content>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@TheBitBazaar">
  <meta name="twitter:creator" content="@TheBitBazaar">
  <meta property="og:url" content="https://2019.bitbazaar.world">
  <meta property="og:title" content="Bit Bazaar">
  <meta property="og:image" content="https://2019.bitbazaar.world/img/43733953565_53bec5f223_k.jpg">
  <meta name="description" content="A unique showcase of indie games, comics and zines presented by Gamma Space">
  <meta name="keywords" content="bit bazaar, videogames, zine fair, toronto, videogames">
  <meta name="author" content>
  <title>Bit Bazaar: A unique celebration of the art and craft of videogames, in the tradition of zine fairs.</title>
  <meta property="og:description" content="Bit Bazaar: A unique celebration of the art and craft of videogames in the tradition of zine fairs.">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>
<body>
  <main>
      <div class="info">
        <div class="container">
          <p>
            <!-- Bit Bazaar is back for its 10<sup>th</sup> edition this summer at <a href="https://www.tomediaarts.org" target="_blank">TMAC</a>! -->

            <a href="/apply" class="button">Apply to Table</a>
          </p>
          
        </div>
      </div>
    <block name="content">
    </block>
  </main>
  <footer class="footer content" role="contentinfo">
    <p>Bit Bazaar is a labor of love by <a href="https://jenniefaber.com">Jennie</a> &amp; <a href="https://gammaspace.ca">Gamma Space</a>&nbsp;&nbsp;♥&nbsp;&nbsp;<a href="mailto:hello@thebitbazaar.com">Get in touch</a>&nbsp;&nbsp;★&nbsp;&nbsp;<a href="http://eepurl.com/cUIMsH">Sign up to volunteer!</a></p>

    <div itemscope itemtype="http://schema.org/Organization">
      <ul class="social">
        <li>© 2019 <a itemprop="url" href="http://gammaspace.ca">Gamma Space</a></li>
        <li>
          <a href="https://twitter.com/TheBitBazaar" rel="me" itemprop="sameAs"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/events/2548955775132495/" rel="me" itemprop="sameAs"><i class="fab fa-facebook-f"></i></a>
        </li>
      </ul>
    </div>
  </footer>

</body>
</html>