<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bit Bazaar Summer 2019</title>
  <meta name="description" content>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@TheBitBazaar">
  <meta name="twitter:creator" content="@TheBitBazaar">
  <meta property="og:url" content="https://2019.bitbazaar.world">
  <meta property="og:title" content="Bit Bazaar">
  <meta property="og:image"
    content="https://www.datocms-assets.com/6140/1557003035-photo.jpg?htn=2&fit=crop&w=700&h=350">
  <meta name="description" content="A unique showcase of indie games, comics and zines presented by Gamma Space">
  <meta name="keywords" content="bit bazaar, videogames, zine fair, toronto, videogames">
  <meta name="author" content>
  <title>Bit Bazaar: A unique celebration of the art and craft of videogames, in the tradition of zine fairs.</title>
  <meta property="og:description"
    content="Bit Bazaar: A unique celebration of the art and craft of videogames in the tradition of zine fairs.">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">

  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
  <block name="head">
  </block>

</head>
<body>
  <main>
    <div class="info">
      <div class="container">
        <p>
          <!-- Bit Bazaar is back for its 10<sup>th</sup> edition this summer at <a href="https://www.tomediaarts.org" target="_blank">TMAC</a>! -->
          Make tech zines? <a href="/apply">Apply to table</a> before May 13!
        </p>

      </div>
    </div>
    <block name="content">
    </block>
  </main>

  <footer class="footer content lazy" role="contentinfo" data-bg="url(https://www.datocms-assets.com/6140/1557003035-photo.jpg?bm=darken&fit=crop&w=900&htn=2&blend64=I0FEREFERA&auto=compress)">
    <div class="container">
    <div>

      <h4>About</h4>
      <ul>
        <li><a href="https://tomediaarts.org">Venue</a></li>
        <li><a href="https://policies.tomediaarts.org/procedure-manual/policies/coc">Code of Conduct</a></li>
      </ul>
    </div>
    <div>
      <h4>Connect</h4>
      <ul>
        <li><a href="mailto:hello@thebitbazaar.com">Email us</a></li>
        <li><a href="http://eepurl.com/cUIMsH">Sign up to volunteer</a></li>
      
          <li>
            <a href="https://twitter.com/TheBitBazaar" rel="me" itemprop="sameAs">🦆 Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/events/2548955775132495/" rel="me" itemprop="sameAs">📘 Facebook</a>
          </li>
        </ul>

    </div>
    <div>
      <h4>Past Events</h4>
      <ul class="past">
        <li class="spring"><a href="https://2013.bitbazaar.world">Spring 2013</a></li>
        <li class="winter"><span>Winter 2013</span></li>
        <li class="spring"><span>Spring 2014</span></li>
        <li class="winter"><span>Winter 2014</span></li>
        <li class="spring"><a href="http://thebitbazaar.com/spring-2015">Spring 2015</a></li>
        <li class="summer"><a href="http://thebitbazaar.com/summer-2015">Summer 2015</a></li>
        <li class="summer"><a href="http://thebitbazaar.com/winter-2015">Winter 2015</a></li>
        <li class="summer"><a href="http://2017.bitbazaar.world">Summer 2017</a></li>
        <li class="summer"><a href="http://2018.bitbazaar.world">Summer 2018</a></li>
      </ul>
    </div>
  </div>
  <p>© 2019 <a itemprop="url" href="http://gammaspace.ca">Gamma Space</a></p>
  </footer>
  <script>
    var lazyLoadInstance = new LazyLoad({
      elements_selector: ".lazy"
    
    });
    </script>


</body>

</html>
