<extends src="layout.html">
  <block name="content">

    <div class="content">
      <header>
        <div class="container">
          <div class="logos">

            <include src="includes/bit_bazaar_logo.svg"></include>
            <!-- <p class="lead">Back for #10!</p> -->



            <div class="intro-text">
              <div class="bb">
                <p>Thanks for submitting! We'll be in touch by May 5.</p>
                </div>
              </div>
          </div>


          </div>
        </header>

      </div>

    </block>
  </extends>