.week, .dates {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.day {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0; }

.week:first-of-type .day:first-of-type {
  margin-left: 42.85714%; }

.week:last-of-type .day:last-of-type {
  margin-right: 14.285%; }

/* OTHER STYLES */
html, body {
  height: 100%; }

.month, .container {
  max-width: 560px;
  margin: 20px auto; }

.week {
  height: 80px; }

.dates .day {
  text-align: center;
  color: #F98909; }

.week .day {
  color: #F98909;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: -1px -1px #F9A440, inset -1px -1px 0 0 #F9A440; }
