@font-face {
  font-family: 'monostena';
  src: url('../fonts/Monosten-A-webfont.eot');
  src: url('../fonts/Monosten-A-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Monosten-A-webfont.woff2') format('woff2'), url('../fonts/Monosten-A-webfont.woff') format('woff'), url('../fonts/Monosten-A-webfont.ttf') format('truetype'), url('../fonts/Monosten-A-webfont.svg#monostena') format('svg');
  font-weight: normal;
  font-style: normal;
}
.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Grid-cell {
  flex: 1;
}
.Grid--flexCells > .Grid-cell {
  display: flex;
}
.Grid--top {
  align-items: flex-start;
}
.Grid--bottom {
  align-items: flex-end;
}
.Grid--center {
  align-items: center;
}
.Grid--justifyCenter {
  justify-content: center;
}
.Grid-cell--top {
  align-self: flex-start;
}
.Grid-cell--bottom {
  align-self: flex-end;
}
.Grid-cell--center {
  align-self: center;
}
.Grid-cell--autoSize {
  flex: none;
}
.Grid--fit > .Grid-cell {
  flex: 1;
}
.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}
.Grid--1of2 {
  flex: 0 0 50%;
}
.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}
.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}
@media (min-width: 384px) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}
@media (min-width: 576px) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}
@media (min-width: 768px) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}
.Grid--gutters {
  margin: -1em 0 1em -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}
.Grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em;
}
.Grid--guttersLg > .Grid-cell {
  padding: 1.5em 0 0 1.5em;
}
.Grid--guttersXl {
  margin: -2em 0 2em -2em;
}
.Grid--guttersXl > .Grid-cell {
  padding: 2em 0 0 2em;
}
@media (min-width: 384px) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .small-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}
@media (min-width: 576px) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .med-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}
@media (768px) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .large-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}
.u-full {
  width: 100% !important;
  flex: none !important;
}
.u-1of2 {
  width: 50% !important;
  flex: none !important;
}
.u-1of3 {
  width: 33.3333% !important;
  flex: none !important;
}
.u-2of3 {
  width: 66.6667% !important;
  flex: none !important;
}
.u-1of4 {
  width: 25% !important;
  flex: none !important;
}
.u-3of4 {
  width: 75% !important;
  flex: none !important;
}
@media (384px) {
  .u-small-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-small-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-small-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-small-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-small-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-small-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}
@media (576px) {
  .u-med-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-med-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-med-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-med-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-med-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-med-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}
@media (768px) {
  .u-large-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-large-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-large-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-large-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-large-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-large-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}
:root {
  --space: 1.5em;
  --space-lg: 2em;
  --bg-color: #fff;
}
body {
  font-family: 'Karla', sans-serif;
  font-size: calc(16px + .5vw);
  font-style: normal;
  line-height: 1.52;
  color: #394EFF;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  margin: 4vh 0;
}
@media only screen and (min-width: 37.5em) {
}
.bg {
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 160px, #59EA5F 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
}
#intro p:first-of-type,
header p:first-of-type {
  font-size: calc(16px + .7vw);
  line-height: 1.3;
  margin-top: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  flex: 1 0 33.3333%;
  padding: 0;
  margin: 0 0 1rem 2.6rem;
  text-indent: 1.4rem;
}
ul li:before {
  letter-spacing: 7px;
  font-weight: 400;
  font-style: normal;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  content: '\2600';
  color: #FFD640;
  margin-left: -3.8rem;
}
li,
p {
  line-height: 1.5;
  margin: 0 0 1rem;
}
li b,
p b {
  background: #FFEB3B;
  font-weight: normal;
}
#lead {
  font-weight: 900;
  font-size: calc(12px + 1vw);
}
#lead::first-line {
  font-size: calc(12px + 2vw);
}
.container {
  margin: 0 4vw;
}
.gifs {
  margin: 3vh 0;
}
.name {
  letter-spacing: 1px;
  font-family: Raleway, serif;
  font-weight: 900;
  font-style: italic;
}
header {
  max-width: 72rem;
  position: relative;
}
header h1,
header h3 {
  display: inline;
}
header h1 {
  letter-spacing: 1px;
  font-family: Raleway, serif;
  font-weight: 900;
  font-style: italic;
  color: #394EFF;
  font-size: calc(60px + 2vw);
  line-height: 1.2;
  margin-right: 1rem;
}
header small.tagline {
  font-size: calc(12px + .5vw);
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  white-space: nowrap;
}
header h2 {
  font-size: calc(14px + 1vw);
}
header h2 b {
  color: #394EFF;
  white-space: nowrap;
}
#sections {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
}
#sections section {
  margin: 3rem 0 0;
  padding: 3rem 0;
  border-top: solid 10px;
}
#sections section#dates h4 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
#sections section h2 {
  font-family: 'Raleway', sans-serif;
  color: #394EFF;
  font-weight: 100;
  letter-spacing: 0.07vw;
  display: inline;
  line-height: 4rem;
  padding: 0.2rem 0.4rem 0.4rem;
  font-size: calc(40px + .5vw);
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}
img {
  max-width: 100%;
}
.content {
  position: relative;
}
footer {
  margin: 3rem;
  text-align: center;
}
footer a {
  transition: all 0.2s ease-in-out;
  color: #394EFF;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(#394eff 0%, #394EFF 100%);
  background: linear-gradient(135deg, #394EFF, #394EFF);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 95%;
  text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
}
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
  footer a {
    background-image: linear-gradient(#394eff 0%, #394EFF 100%);
    background-position: 0 93%;
  }
}
footer a:hover {
  color: #00119f;
  background-image: linear-gradient(to bottom, #00119f 0%, #00119f 100%);
}
footer a::selection,
footer a > *::selection {
  background-color: #ffffff;
  color: #394EFF;
  text-shadow: none;
}
footer a::-moz-selection,
footer a > *::-moz-selection {
  background-color: #ffffff;
  color: #394EFF;
  text-shadow: none;
}
.week,
.dates {
  display: flex;
}
.day {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.logo img {
  text-align: center;
  float: none;
  margin: 0 auto;
  display: block;
}
header {
  text-align: center;
}
header h1 {
  font-size: calc(32px + 2vw);
}
@media (min-width: 768px) {
  .logo img {
    text-align: left;
    margin: 0;
  }
  header {
    text-align: left;
  }
  header h1 {
    font-size: calc(60px + 2vw);
  }
}
.Grid-cell.month {
  margin: 0;
}
@media (min-width: 384px) {
  .Grid-cell.month {
    margin: 0;
  }
  .Grid-cell.month:first-child {
    margin-left: 0;
  }
  .Grid-cell.month:last-child {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .Grid-cell.month {
    margin: 0 1rem;
  }
}
.dates .day {
  text-align: center;
  color: #9fa9ff;
  font-size: 14px;
  padding-bottom: 8px;
}
.dates .day b {
  color: #394EFF;
  font-weight: normal;
}
.legend.week .day {
  font-size: 12px;
}
.week {
  width: 100%;
}
.week .day {
  color: #394EFF;
  padding: 5px;
  background-color: transparentize(white, 0.3);
  box-shadow: -1px -1px #394EFF, inset -1px -1px 0 0 #394EFF;
}
.week .day.hide {
  visibility: hidden;
}
.week .day.workshop {
  background: #FFEB3B;
}
.week .day.mentoring {
  background: #FBC02D;
}
.week .day.mentoring.afternoon {
  background-color: #FBC02D;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQYV2P8fUD3PwMUsNhfYmCECYA4fw7qQQRgHJBCxv////8HycAAAPEWFbZzyducAAAAAElFTkSuQmCC) repeat;
}
.btn-3d {
  border-bottom: none;
  z-index: 200;
  color: #fff;
  display: inline-block;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  outline: none;
  position: relative;
}
.btn-3d span {
  position: relative;
  display: inline-block;
  padding: .7rem 1.2rem .6rem;
  background: #394EFF;
  transition: -webkit-transform 0.3s;
  transition: transform .3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.btn-3d span:before {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1527bd;
  content: attr(data-hover);
  transition: background .3s;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  padding-top: .6375rem;
  text-align: center;
}
.btn-3d:hover span {
  padding: .7rem 1.2rem 0;
  -webkit-transform: rotateX(90deg) translateY(-18px);
  transform: rotateX(90deg) translateY(-18px);
  background-color: #394EFF;
  color: #ffffff;
}
.btn-3d:hover span:before {
  background-color: #394EFF;
}
.btn-3d:focus span {
  -webkit-transform: rotateX(90deg) translateY(-18px);
  transform: rotateX(90deg) translateY(-18px);
  background-color: #394EFF;
  color: #ffffff;
}
.btn-3d:focus span:before {
  background-color: #394EFF;
}
